.admin-header{
    box-shadow: 0 0 10px 1px #7e7e7e67;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

a{
    text-decoration: none !important;
}

.admin-header nav{
    padding: 0 !important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
}

.admin-header nav .admin-header-left ul{
    list-style: none;
    display: flex;
    margin: 0 !important;
}

.admin-header nav .admin-header-left ul li a{
    padding: 20px 20px;
    font-weight: 550;
    text-decoration: none;
}

.admin-header nav .admin-header-left ul li a:hover{
    background: #ececec;
}

.admin-nav-active{
    background: #ececec;
}

.admin-header-right{
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.admin-nav-profile-link{
    display: flex;
    align-items: center;
}

.admin-name-box{
    display: flex;
    align-items: center;
}

.admin-nav-profile-link p{
    display: inline-flex;
    align-items: center;
    margin-top: 14px;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 550;
}

.admin-nav-profile-link .admin-profile-img{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5px solid #000;
}

.admin-nav-profile-link .admin-profile-img img{
    width: 100%;
}

.admin-nav-profile-link-box{
    position: absolute;
    bottom: -122px;
    right: 20px;
    width: 200px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background: #fff;
    padding: 8px 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #bebebe67;
    z-index: -9999;
    display: none;
}

.admin-nav-profile-link-box a{
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #7e7e7e67;
}

.admin-nav-profile-link-box a:hover{
    background: #f5f5f5;
}

.admin-nav-profile-link-box button{
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px
}

.admin-footer{
    margin-top: 70px;
}

.admin-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.admin-copyright p{
    margin: 0 !important;
    font-weight: bold;
}

/* ------------------------------------- */

.admin-content-box{
    margin: auto;
    margin-top: 100px;
    width: 90%;
}

.admin-row{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.admin-dash-report-box-top{
    width: 23%;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 0 3px 1px #7e7e7e96;
}

.admin-dash-report-box-top{
    display: flex;
    align-items: center;
    gap: 15px;
}

.admin-dash-icon-box{
    border-right: 1px solid #000;
    padding: 10px;
    padding-right: 15px;
}

.admin-dash-report-box-top .admin-dash-report-box p{
    margin: 0 !important;
    font-size: 13px;
}

.admin-dash-report-box-top .admin-dash-report-box h3{
    margin: 0 !important;
    font-weight: 700;
}

.admin-title{
    margin-top: 30px;
    font-size: 16px;
}

.admin-row-top .admin-dash-report-box-top{
    width: 32%;
}

.admin-row-2{
    justify-content: start;
    gap: 33px;
}


/* ---------------------------- Admins ----------------------------- */

.admin-admins-box{
    /* border: 1px solid #000; */
    display: flex;
}

.admin-page-content{
    /* border: 1px solid #000; */
}

.admin-page-content{
    width: 100%;
}

.admin-page-content h5{
    margin-bottom: 0 !important;
}

.admins-list-box{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 3px 1px #7e7e7e96;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}

.admins-list-box table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    border: none;
    border-radius: 6px;
    overflow: hidden !important;
}

.admins-list-box table tr{
    border-top: 1px solid #9b9b9b;
    /* border-bottom: 1px solid #9b9b9b; */
}

.admins-list-box table tr td{
    padding: 15px;
    border: none;
}

.admins-list-box table tr:nth-child(1){
    background: #343a40;
    font-weight: bold;
    color: white;
}

.admins-list-box table tr td button{
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 5px;
    outline: none;
}

.admins-list-box table tr td:nth-last-child(1){
    text-align: center;
}

.admins-list-box table tr td button:nth-child(1){
    background: #28a745;
    color: white;
}

.admins-list-box table tr td button:nth-child(2){
    background: #dc3545;
    color: white;
}

.admins-list-box table tr td button:nth-child(2):hover{
    background: #fc364a;
}

.admins-list-box table tr td button:nth-child(1):hover{
    background: #26bb49;
}

.add-new-admin-btn-box{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 10px;
}

.add-new-admin-btn-box button{
    border: none;
    outline: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 4px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.add-new-admin-btn-box button:hover{
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.add-new-admin-btn-box button:focus{
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}


/* --------------- Add Admin --------------- */

.add-admin-popup-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000060;
    cursor: cell;
    z-index: 9999;
    display: none;
}

.add-admin-popup{
    width: 40%;
    border-radius: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    cursor: auto;
}

.add-admin-popup form{
    width: 90%;
}

.add-admin-popup form div{
    width: 100%;
    margin: 20px 0;
    height: 40px;
}

.add-admin-popup form div input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 0 8px;
}


.admin-username-box{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.admin-username-box input{
    width: 55% !important;
}

.admin-username-box select{
    height: 100%;
    width: 45%;
    outline: none;
    font-size: 14px;
    padding: 0 8px;
}

.add-admin-popup form button{
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

.add-admin-popup form button:nth-child(1){
    background: #28a745;
    margin-right: 5px;
}

.add-admin-popup form button:nth-child(1):focus{
    background: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.add-admin-popup form button:nth-child(1):hover{
    background: #26bb49;
}

.add-admin-popup form button:nth-child(2){
    background: #dc3545;
}

.add-admin-popup form button:nth-child(2):hover{
    background: #fc364a;
}

.add-admin-popup form button:nth-child(2):focus{
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

/* ------------- Settings ------------- */

.site-settings-box{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 3px 1px #7e7e7e96;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.settings-left-box{
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.settings-left-menu{
    padding: 8px;
}

.settings-left-box ul{
    list-style: none;
}

.settings-left-box ul li{
    padding: 8px 10px;
    list-style: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 0 -40px;
    font-size: 14px;
    font-weight: 600;
    color: #007bff;
    transition: all ease-in-out 0.3s;
}

.settings-left-box ul li:hover{
    background: #f5f5f5;
    color: #0056b3;
}

.settings-left-box ul .settings-left-active{
    background: #f5f5f5;
    color: #0056b3;
}

.settings-right-box{
    border: 1px solid rgba(0, 0, 0, .1);
    width: 75%;
    border-radius: 4px;
    overflow: hidden;
}

/* -------  */

.settings-right-content-box{
    width: 100%;
    padding: 10px;
}

.general-settings{
    overflow: hidden;
}

.gen-site-logo-top, .gen-site-favicon-box{
    padding-bottom: 5px;
}

.gen-site-logo-box, .gen-site-favicon-box{
    display: flex;
    justify-content: space-between;
}

.gen-site-favicon-box{
    margin-top: 15px;
}

.gen-site-logo-choose-box, .gen-site-favicon-choose-box{
    width: 40%;
}

.gen-site-logo-choose-box p, .gen-site-favicon-choose-box p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px !important;
}

.gen-site-logo-choose-box input, .gen-site-favicon-choose-box input{
    font-size: 12px;
    cursor: pointer;
}

.gen-site-logo-prew-box, .gen-site-favicon-prew-box{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.gen-site-favicon-prew-box{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.gen-site-logo-prew-box img, .gen-site-favicon-prew-box img{
    width: 130px;
}

.gen-site-favicon-prew-box img{
    width: 30px;
}

.gen-site-name-box, .gen-site-dec-box{
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 15px;
}

.gen-site-dec-box{
    margin-top: 15px;
}

.gen-site-name p, .gen-site-dec-box p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px !important;
}

.gen-site-name input, .gen-site-dec-box input{
    width: 100%;
    outline: none;
    height: 35px;
    padding: 0 8px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.gen-setting-update-btn-box{
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 30px;
    padding: 10px;
    padding-top: 15px;
}

.gen-setting-update-btn-box button{
    font-size: 13px;
    font-weight: 600;
    background: #26bb49;
    color: #fff;
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.gen-setting-update-btn-box button:hover{
    background: #28a745;
}

.gen-setting-update-btn-box button:focus{
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.gen-content-box{
    display: none;
}

.gen-visible{
    display: block;
}