#adsImg300{
    width: 100%;
}

#adsImg400{
    width: 100%;
}

#adsImg728{
    width: 100%;
}

.ya-msg {
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 10px;
  }

  .logo-m {
    height: 25px;
  }

  .fi-color:hover {
    color: #f34e5f;
  }

  .container {
    border-radius: 20px;
  }

  .links {
    text-align: center;
  }

  .links {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .y-link a:hover {
    text-decoration: none;
  }

  .y-card-body {
    padding: 0.5rem;
    overflow: hidden;
  }

  .img-sticky {
    position: sticky;
    top: 50px;
  }