.main-container{
  /* border: 1px solid #000; */
  padding: 0 !important;
}

.col-lg-12{
  padding: 10px !important;
}

.y-card-pad{
  padding: 0 !important;
}

#adsImg300 {
  width: 100%;
  height: auto;
}

#adsImg400 {
  width: 100%;
}

.ya-msg {
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-top: 10px;
}

.logo-m {
  height: 25px;
}

.fi-color:hover {
  color: #f34e5f;
}

.container {
  border-radius: 20px;
}

.links {
  text-align: center;
}

.links {
  margin-right: 2rem;
  margin-left: 2rem;
}

.y-link a:hover {
  text-decoration: none;
}

.y-card-body {
  padding: 0.5rem;
  overflow: hidden;
}

.img-sticky {
  position: sticky;
  top: 50px;
}

#adsImg728 {
  cursor: pointer;
  border: 1px solid #007bff;
  padding: 1px;
  box-sizing: border-box;
}

#demo-watermark {
  width: 300px;
  text-align: center;
  position: fixed;
  top: 170px;
  right: -40px;
  background: #007bff;
  color: white;
  padding: 10px 50px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;
  transform: rotate(45deg);
  transform-origin: top right;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}